.globalWrapper {
    position: absolute;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemsWrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: clamp(20rem, 50vw, 50rem);
}

.itemsWrapper li {
    font-size: 1.25rem;
    list-style: none;
    user-select: none;
    padding: 5px 10px;
}

.itemsWrapper li:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
}

.burgerMenu {
    cursor: pointer;
    display: none;
    padding: 15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    transition: 0.4s;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .globalWrapper {
        justify-content: flex-end;
    }

    .burgerMenu {
        display: block;
    }

    .itemsWrapper {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 60px;
        left: 0;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .itemsWrapper li {
        margin-right: 0;
        text-align: center;
        padding: 10px;
    }

    .showItemsWrapper {
        display: flex;
    }

    .closeIcon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .closeIcon:nth-child(2) {
        opacity: 0;
    }
    .closeIcon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
