@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400&display=swap');

.globalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: clamp(50vh, 100vh, 100vh);
    width: 100%;
    padding-bottom: 10vh;
}

.fullName {
    width: clamp(20rem, 90vw, 80rem);
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    font-family: 'Great Vibes';
    user-select: none;
}

.jobTitle {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 50px;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .fullName {
        font-size: clamp(5rem, 25vw, 10rem);
    }

    .jobTitle {
        font-size: 2rem;
    }
}
