.globalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 50%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.name {
    font-size: clamp(1.5rem, 5vw, 6rem);
    line-height: 1;
    font-weight: 400;
}

.description {
    width: 90%;
    display: flex;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 300;
    line-height: 1.25;
}

.techStack {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 300;
}

.linksRow {
    display: flex;
    flex-direction: row;
}

.linksRow a {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
